/* stylee.css*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    height: 100vh;
}

#app img {
    width: 36px;
    height: 36px;
}

ul {
    list-style-type: none;
}

#app {
    /* width: 700px;
    height: 1000px; */
    max-width: 700px;
    width: 400px;
    height: 560px;
    outline: 1px solid black;
    background-color: skyblue;
    /* filter: grayscale(0.6); */
    background-image: url(images/bg/cloudy.jfif);
    background-size: cover;
    background-repeat: no-repeat;
}

#app h1 {
    margin-bottom: 30px;
}

#app ul .cityname {
    font-size: 2rem;
    margin-bottom: 30px;
    margin-top: 10px;
}

.temp {
    /* font-size: 5rem; */
    font-size: 4rem;
    /* margin-left: 85px; */
    /* margin-top: 100px; */
    margin-top: 50px;
}

/* 배경색 처리 */
#app .black {
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0px 100px;
}

#app .black-bottom  {
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0 30px;
}

/* 하단부 텍스트 */

.desc, #app p:not(.icon) {
    /* font-size: 2rem; */
    font-size: 20px;
    /* margin-left: 65px; */
    font-weight: 700;
}

#app .app-text {
    /* width: 600px; */
    width: 300px;
    height: 70px;
    /* margin-top: 490px; */
    margin-top: 220px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
}

#app .app-text > p {
    margin-top: 25px;
}

#app .app-text-tomorrow > p {
    margin-top: 25px;
}

#app .app-text-tomorrow {
    /* width: 600px; */
    width: 300px;
    height: 70px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
}

#app .app-text {
    border-bottom: 1px solid #333;
}

#app .app-text .app-icon {
    margin-bottom: 10px;
}

/* #app .app-text-tomorrow {
    margin-top: 20px;
}
 */
/* #app .app-text-tomorrow .app-tomorrow-icon {
    margin-right: 10px;
} */

/* 더보기 */
/* 목록 숨김 */
#app .app-text-more-list .app-text-more ul,
#app .app-tomorrow-more-list .app-tomorrow-more ul {
    display: flex;
    justify-content: space-around;
    max-height: 50px;
    display: none;
}
/* 목록 보임 */
#app .app-text-more-list .app-text-more ul.show {
    display: flex;
    margin-top: 20px;
}
/* 커서효과 */
#app .app-text, #app .app-text-tomorrow {
    cursor: pointer;
}

#app .app-text-more-list .app-text-more ul li,
#app .app-tomorrow-more-list .app-tomorrow-more ul li {
    font-size: 20px;
    font-weight: 700;
}

#app .app-text-more-list .app-text-more ul li p,
#app .app-tomorrow-more-list .app-tomorrow-more ul li p {
    font-size: 20px;
    font-weight: 500;
}

#app .app-text-tomorrow.show {
    display: none;
}

/* tomorrow 클릭시 스타일 */
#app .app-text.to-show {
    display: none;
}

#app .app-text-tomorrow.to-show {
    margin-top: 220px;
    border-bottom: 1px solid #333;
}

#app .app-tomorrow-more-list .app-tomorrow-more ul.to-show {
    display: flex;
    margin-top: 20px;
}

/* app-text hover시 스타일 */
#app .app-text:hover, #app .app-text-tomorrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

#app .app-text .day-hover {
    margin-bottom: 25px;
}

#app .app-text .app-icon.hover-show,
#app .app-text-tomorrow .app-tomorrow-icon.hover-show {
    display: none;
}

/* select {
    padding: 5px 1rem;
    margin-top: 1rem;
    border-style: none;
    border-radius: 5px;
} */
